body {
    /* font-family: "Helvetica Neue", sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1vh;
    background-color: #edc951;
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-image: url("photos/bhm_logo.png");
    background-size: 25%;                      
    background-repeat:   no-repeat;
    background-position: 2% 1%; */
    overflow: hidden;
    word-wrap: break-word;
}


.head{
    height: auto;
    border-bottom: 3px solid #cc2a36;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person{
    height: 90%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.header {
    text-align: center;
    justify-content: center;
    /* border-bottom: 5px solid palevioletred; */
    color: #cc2a36;
    font-family: Impact;
    font-size: 5vmin;
    /* font-size: 5vh; */
    height: 100%;
    max-width:100%;
    max-height:100%;
    /* margin-top: 1.5vmin; */
    /* font-weight: bold; */
}

.subheader {
    text-align: right;
    justify-content: center;
    color: #961820;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5vmin;
    height: 100%;
    max-width:100%;
    max-height:100%;
    /* font-weight: bold; */
}

#logo {
    height: auto;
    width: auto;
    max-width:100%;
    max-height:100%;
}

.textfill {
    height: auto;
    width: 40vw;
    /* border: solid 2px red; */
    align-content: center;
}

.picture {
    width:80vh;
    max-width:50vw;
}

.picture img{
    /* padding-top: 0.5%;
    padding-bottom:1%; */
    align-content: center;
    align-self: center;
    height: 80vh;
    width: auto;
    /* width: 100%; */
    /* max-width: 100%;
    max-height: 70%; */
    /* border: 3px solid red; */
    /* width: 100%; */
    /* width:100%;
    max-width:100%; */
}

.name {
    font-family: Impact;
    text-align: center;
    /* height: 35vh; */
    height: auto;
    width: auto;
    /* width: 100%; */
    /* max-width: 100%;
    max-height: 70%; */
    align-content: inherit;
    /* margin: auto auto auto auto; */
    /* border: 3px solid red; */
}

.bio {
    /* align-content:bottom;
    text-align: bottom; */
    /* height: 100%; */
    /* align-self: bottom; */
    /* position: static;
    bottom: 0;
    border: 3px solid red;
    align-content: bottom;
    align-self: bottom; */
    /* vertical-align: bottom; */
    /* padding-bottom: 5vh; */
    height: auto;
    align-content: inherit;
    /* position: relative;
    bottom: 0; */
}


h1 {
    font-size: 8vh;
    padding: 1%;
    text-align: right;
    /* height: 70%; */
}


h3 {
    /* padding-left: 5%;
    padding-top: 0%;
    padding-bottom: 0%; */
    font-size: 4vh;
    color:#4f372d;
    padding: 1%;
    text-align: right;
    /* height: 30%; */
}

.bio h4 { 
    /* font-family: "Helvetica Neue", sans-serif; */
    /* Helvetica, Arial, sans-serif; */
    /* font-size: 120%; */
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    /* padding: 3%; */
    background-color:rgba(80, 202, 50, 0.95);
    /* background-color: #83AF9B; */
    /* height: 5vh; */
    font-size: 2.5vh;
    vertical-align: bottom;
    margin-top: 6%;
    margin-left: 1%;
}

div {
    display: inline-flexbox;
    align-items: center;
  }


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 0;
    width: inherit;
    height: inherit;
  }
  
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.1s;
    animation-name: fade;
    animation-duration: 0.1s;
  }

.mySlides {
    display: none;
    /* border: 2px solid green; */
}
